*.m4
*.in
/config.*
autom4te.cache/
*.*~
.deps/
stamp-*

ABOUT-NLS
INSTALL
compile
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
ibus-unikey.spec
libtool

po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/*@boldquot.header
po/*@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/POTFILES
