Source: ibus-unikey
Section: utils
Priority: extra
Maintainer: Your name <yourmail@example.com>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, libibus-dev, libgtk2.0-dev, libgconf2-dev
Standards-Version: 3.8.0
Homepage: http://ibus-unikey.googlecode.com/

Package: ibus-unikey
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vietnamese Input Method Engine for IBUS using Unikey Engine
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 Ibus-Unikey is an input method for Ibus
 Use Unikey engine to process keyevent
 .
 You need to install Ibus to use this IME.
 .
 Support via forum at: http://forum.ubuntu-vn.com/viewforum.php?f=85

